body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar__btnMenu {
  display: none;
}

@media only screen and (max-width: 768px) {
  .navbar__btnMenu {
    display: block;
  }
}

.navbar__navigation {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 768px) {
  .navbar__navigation {
    flex-direction: column;
  }
}
